<h1>Agregar un fallecido</h1>
{{#if error}} <span>{{error}}</span>{{/if}}
<form method="POST" action="/fallecido/add">
  <div class="form-group">
    <label>C.I.</label>
    <input type="text" name="ci" class="form-control" placeholder="No. de Cédula del fallecido">
  </div>
  <div class="form-group">
    <label>Nombres</label>
    <input type="text" name="nombres" class="form-control" placeholder="Nombres del fallecido">
  </div>
  <div class="form-group">
    <label>Apellidos</label>
    <input type="text" name="apellidos" class="form-control" placeholder="Apellidos del fallecido">
  </div>
  <div class="form-group">
    <label>Año de nacimiento</label>
    <input type="text" name="nacimiento" class="form-control" placeholder="YYYY">
  </div>
  <div class="form-group">
    <label>Año de defunción</label>
    <input type="text" name="defuncion" class="form-control" placeholder="YYYY">
  </div>
  <div class="form-group">
    <label>Nombre del cementerio</label>
    <input type="text" name="cementerio" class="form-control" placeholder="Ingrese el nombre del cementerio">
  </div>
  <div class="form-group">
    <label>Provincia</label>
    <input type="text" name="provincia" class="form-control" placeholder="Ingrese el nombre del cementerio">
  </div>
  <div class="form-group">
    <label>No. de lápida</label>
    <input type="text" name="nolapida" class="form-control" placeholder="Ej.:10-74">
  </div>
  <input type="submit" class="btn btn-primary" value="Guardar">
</form>
