<h1>Busca a tus seres queridos</h1>
{{#if error}} <span>{{error}}</span>{{/if}}
<form class="form" method="POST" action="/fallecido/buscar">
    <div class="input-group mb-3">
        <input type="text" name="ci" class="form-control" placeholder="Buscar fallecidos por C.I.">
        <div class="input-group-append">
            <input type="submit" class="btn btn-secondary" value="Buscar">
        </div>
    </div>
</form>